@using Ecommerce.Helpers
@model TDanhMucSp

<div class="col-sm-4">
    <div class="product-image-wrapper">
        <div class="single-products">
            <div class="productinfo text-center">
                <img src="~/ProductsImages/@Model.AnhDaiDien" alt="@Model.TenSp" width="100%" />
                <h2>$@Model.GiaLonNhat</h2>
                <p>@Model.TenSp</p>
                <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            </div>
            <div class="product-overlay">
                <div class="overlay-content">
                    <img src="~/ProductsImages/@Model.AnhDaiDien" alt="@Model.TenSp" width="100%" />
                    <h2>$@Model.GiaLonNhat</h2>
                    <p><a asp-controller="Product" asp-action="ProductDetail" asp-route-maSp="@Model.MaSp">@Model.TenSp</a></p>
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.MaSp" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
            </div>
        </div>
        @* <div class="choose">
			<ul class="nav nav-pills nav-justified">
				<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
				<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
			</ul>
		</div> *@
    </div>
</div>
